* {
    box-sizing: border-box;
  }
@media screen and (max-width: 650px) {
    .flex-container{
        display: flex;
        flex-direction: column;

        max-width: 480px;
        width: 80vw;
        min-width: 180px;

        height: 980px;
        margin-left: auto;
        margin-right: auto;
    }
    #a{
        flex: 100%;
        height: 75px;
        line-height:75px;
        margin-top: 20px;
    }
    #b {
        height: 150px;
        line-height:150px;
        flex: 100%;
    }
    #c {
        height: 125px;
        line-height:125px;
        flex: 100%;
    }
    #d {
        height: 125px;
        line-height:125px;
        flex: 100%;
    }
    .row{
        flex: 100%;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    #e, #f, #g, #h {
        flex: 50%;
        height: 250px;
        line-height:250px;
        
    }
    #i{
        flex: 100%;
        height: 80px;
        line-height:80px;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 800px){
    .flex-container{
        display: flex;
        flex-direction: column;

        max-width: 960px;
        width: 80vw;
        min-width: 780px;

        height: 980px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #a {
        width: 100%;
        height: 100px;
        line-height:100px;
    }
    .outter-block{
        display: flex;
        flex: 100%;
        flex-direction: row;
        height: 600px;
    }
    #b {
        flex: 20.83%;
        height: 100%;
        line-height:600px;
    }
    .inner-block{
        display: flex;
        flex-wrap: wrap;
        flex:80%;
        height: 100%;
    }
    #c{
        flex: 50%;
        height: 33.33%;
        line-height:200px;
    }
    #d{
        flex: 50%;
        height: 33.33%;
        line-height:200px;
    }
    .row{
        display: flex;
        flex: 50%;
        flex-wrap: wrap;
        height: 41.67%;
    }
    #e, #f, #g, #h {
        flex: 25%;
        height: 100%;
    }
    #i{
        flex: 100%;
        height: 25%;
        line-height:150px;
    }
}
