* {
    box-sizing: border-box;
  }
@media screen and (max-width: 768px) {
    .a{
        width: 480px;
        height: 75px;
        line-height:75px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .container1{
        width: 480px;
        height: 980px;
        margin-left: auto;
        margin-right: auto;
    }
    .b {
        height: 150px;
        line-height:150px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .l-Right{
        width: 100%px;
        height: 830px;
        margin-left: auto;
        margin-right: auto;
    }
    .c {
        height: 125px;
        line-height:125px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .d {
        clear: both;
        height: 125px;
        line-height:125px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .container2 {
        width: 100%;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .column {
        width: 50%;
        height: 100%;
        line-height:250px;
        float: left;
        
    }
    .i{
        width: 100%;
        height: 80px;
        line-height:80px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 768px){
    .a {
        width: 960px;
        height: 100px;
        line-height:100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .container1{
        width: 960px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .b {
        width: 200px;
        height: 100%;
        line-height:600px;
        float: left;
        margin-bottom: 20px;
    }
    .l-Right{
        width: 760px;
        height: 100%;
        float: left;
        margin-bottom: 20px;
    }
    .c{
        clear: both;
        width: 50%;
        height: 33.33%;
        line-height:200px;
        float: left;
    }
    .d{
        width: 50%;
        height: 33.33%;
        line-height:200px;
        float: left;
    }
    .container2{
        width: 50%;
        height: 41.66%;
        float:left;
    }
    .column{
        width: 50%;
        height: 100%;
        line-height:250px;
        float: left;
    }
    .i{
        width: 100%;
        height: 25%;
        line-height:150px;

        clear: both;
    }
}
